<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						CS106B Contest [Optional]
					</h1>

					<p>
						Thanks to Eric Roberts for the inspiration.
					</p>
					
					<p class="subtleHeading">
						January 15th, 2016
					</p>

				</div>
				<hr/>
			</div>
		</div>

		<div class="row" style="margin-bottom:25px">
					<div class="col-sm-12">
				<p>
					<center>
						<img style="width:80%;" src="{{pathToRoot}}img/assn/contest/splash.jpg">	
						<p style="text-align:center; margin-bottom:15px"><i>There is a big world of interesting problems out there.</i></p>
					</center>
				</p>
			</div>
		</div>

		

		<div class="row">
			<div class="col-sm-9">
				<p>
					One of the great things about computer science is that you get to <i>make</i> things. You can turn pure mind stuff from your own imagination into reality. Its a field marked by creative inventors and people who solved deep and interesting problems. In celebration of what is truly a foundation of the field we present to you the CS106B contest.
				</p>
				<p>
					The CS106B Contest is an open-ended program. Your
mission is simply to submit a C++ program that uses the concepts covered before Jan 29th to solve a problem that is conceptually interesting. The experience tends to be rewarding in itself (and great practice for say the exams). But in recognition of great work we will be offering prizes. 

					Here is a blank project that you can program your solution in:
				</p>
					<a href="{{pathToRoot}}/assnFiles/contest/contest.zip"><span class="glyphicon glyphicon-save-file" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br/>
					Starter Code</a>
			</div>
			<div class="col-sm-3">
				<div class="well info faq">
					<b>Due Date:</b> The contest is due January 29th at 5:00pm. No late days may be used.
				</div>
				<div class="well info faq">
					<b>Idea:</b> Build any program you want, using the tools covered in class.
				</div>
				
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<hr/>
				<h2>
					Prizes
				</h2>
				<p> 
					Prizes will be offered in two categories:
					<ol>
						<li><p><b>Algorithmic complexity:</b> This prize is based on the difficulty of the underlying
programming task and the sophistication of your solution. Please let us know how much of the algorithmic ideas you develop on your own (though implementing a complex algorithm that someone else has previously invented is great too).</p></li>
						<li><p><b>Creativity:</b> This prize is based on the quality of the original ideas present in your work. Creativity takes many forms such as coming up with a novel problem to work on or making beautiful aesthetics. </p></li>
					</ol>
				</p>
				<p>
					Winning either category of the grand prize entitles you to substitute a 100%
for whatever individual score most negatively affects your grade at the end of the term.
Thus, if you win this contest and end up bombing an assignment, the midterm, or even
the final, we will overlook that misstep and count it as a 100%. The second place prize will be a two grade increase on the maximally benefitial assignment score (eg check-plus becomes plus-plus). 
				</p>

				<hr/>
				<h2>Official Rules
				</h2>
				<p>
					<ol>
						<li><p>Only students registered in CS 106B are eligible to submit entries.</p></li>
						<li><p>You may <b>not</b> work in pairs. This is an individual project.</p></li>
						<li><p>Only one entry per person will be accepted. An entry consists of the source files you
have used in your project along with any data files the project requires.</p></li>
<li><p>
	All entries must be submitted electronically by 5:00P.M. on Monday, January 29,
using the paperless submission system. Late entries will not be accepted. If you have an especially large submission, please contact us before hand.
	</p></li>
	<li><p>
		To keep things fair you can only use the tools that we learn about in class (up to the due date of the contest) or described in the online <a href="http://stanford.edu/~stepp/cppdoc/">documentation</a>. For example, any graphical output must use only the facilities exported by the interfaces described
in the online documentation available on the web site. Using more powerful native
graphics libraries is not acceptable for this contest.
	</p></li>
	<li><p>
		Contest entries should be sensitive to Stanford’s individual and cultural diversity.
Programs or narratives that have the effect of perpetuating negative stereotypes will
not be considered for prizes.
	</p></li>
	<li><p>
		Contest entries will be evaluated initially by Chris Piech and Megan Faulk. The
best entries will then be judged by the section leaders, Eric Roberts and Jerry Cain. They will choose the winners.
	</p></li>
					</ol>
				</p>
			</div>
		</div>

		<hr/>

		<h2>Where to Start</h2>
		<p>
			One of the goals of this project is for you to come up with the idea on your own. Feel free to bounce ideas off the staff -- but ultimately the choice is yours. One of the concepts covered in assignment 2 is Breadth First Search. Using this technique you can solve a ton of interesting problems (Bananagrams is one example). 
		</p>

		<p>
			All the best. Enjoy the freedom.
		</p>
		


		%include templates/parts/footer.html

	</div>

</body>
