<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Assignment 0: NameHash
					</h1>

					<p class="subtleHeading">
						January 9th, 2017
					</p>					

				</div>
				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-9">
                <p>
                <b>Assignment due date: Friday, January 13, 2017, Noon</b>
                </p>
				<p>
                This is a <i>very</i> simple assignment that demonstrates that you have successfully installed Qt Creator on your computer and can run a short test program. Your only submission requirement is to put the result of the program (you will see what this means when you run it!) into a Google Form, located here:
				</p>
                <a href="https://goo.gl/pYyAFQ">https://goo.gl/pYyAFQ</a>
				<p>
                <p></p>
                Requirements:
                <ol>
                    <li>Install Qt Creator onto your own computer. See the class website for instructions: http://web.stanford.edu/class/cs106x/handouts/qt-creator.html If you have difficulty installing the software (some people will – sometimes it is a bit tricky, and everyone’s operating system is a little different), please come to Thursday LaIR hours on January 12th, which will be dedicated to Qt Creator installation help.</li>
                    <li>Load    and run the “name   hash”   program,    found   here:
                        <a href="http://web.stanford.edu/class/cs106x/assnFiles/namehash/HW0_NameHash.zip">http://web.stanford.edu/class/cs106x/assnFiles/namehash/HW0_NameHash.zip</a></li>
                    <li>Once you run the program, you will generate a “hash” based on your name. Use your preferred name when you run the program (see the code comments for details). Using the Google Form above, submit the hash value from the program (and answer the other questions on the survey).</li>
                    <li>Look over the program and try to figure out what it is doing. Later in the course we will discuss hashing, but you might as well see an example now!</li>
                    <li>That’s it!</li>
                </ol>
            </div>
		</div>
		%include templates/parts/footer.html
	</div>

</body>

