<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Assignment 2: Abstract Data Types (ADTs)
					</h1>

					<p>
	Assignment by Chris Gregg, based on an assignment by Marty Stepp and Victoria Kirst. Originally based on a problem by Julie Zelenski and Jerry Cain.
                                        </p>

					<p class="subtleHeading">
						January 20, 2017
					</p>
				</div>
				<hr/>
			</div>
		</div>

                <div class="row">
                        <div class="col-sm-12">
                                <h2>Due Date:</h2>
                                <p><b>The ADTs assignment is due Friday, January 27th at 12:00pm.</b></p>
                        </div>
                </div>
		<div class="row">
			<div class="col-sm-12">
				<h2>
					Assignment Parts 
				</h2>
                                This is a <b>three part</b> assignment. The parts can be found at the following web pages:
                                <ol>
                                    <li><a href="{{pathToRoot}}assn/wordladder.html">WordLadder</a></li>
                                    <li><a href="{{pathToRoot}}assn/ngrams.html">NGrams</a></li>
                                    <li><a href="{{pathToRoot}}assn/transpCipher.html">Transposition Cipher</a></li>
                                </ol>
                        </div>
                </div>
		%include templates/parts/footer.html

	</div>

	<script>
		$('.editor').each(function( index ) {
			var editor = ace.edit(this);
			editor.setTheme('ace/theme/eclipse');
		   editor.getSession().setMode("ace/mode/c_cpp");
		   editor.setReadOnly(true);
		   editor.setShowPrintMargin(false);
		   editor.renderer.setShowGutter(false); 
		   editor.setOptions({
			    maxLines: Infinity,
			    fontSize: "10pt"
			});
		   editor.setOption("highlightActiveLine", false);
		});
	</script>

</body>
