<head>

    %include templates/parts/head.html

</head>
<body>

    <!-- Navigation Bar -->
    %include templates/parts/navBar.html

    <div class="container" id="indexContainer">

        <div class="row" id = "indexHead">


            <div class="col-sm-12">
                <div id="logo">
                    <img id="logoImg" src="img/logo.gif"/>
                </div>
                <div id="headerText" style="padding-bottom:15px;">
                    <div id="title">
                        CS106B: Programming Abstractions
                    </div>
                    <div>
                        Fall 2016
                    </div>
                    <div>
                        Monday, Wednesday, Friday 12:30 to 1:20pm in <a href="https://goo.gl/maps/Mbe2T5LAecy">Hewlett 200</a>
                    </div>

                    <!--
                        <div class="alert alert-info"><a href="https://b.socrative.com/login/student/">https://b.socrative.com/login/student/</a></div>
                    -->
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-sm-12" id="infoCol">
                <hr/>
            </div>
        </div>


        <div class="row">

            <div class="col-sm-3" id="infoCol">
                <!-- Links -->
                <div>
                    <p class="subtleHeading">RESOURCES</p>

                    <!--<span class="sidebaricon glyphicon glyphicon-user" aria-hidden="true"></span>
                        <a href="">Staff</a><br/>-->

                        <span class="sidebaricon glyphicon glyphicon-apple" aria-hidden="true"></span>
                        <a href="{{pathToRoot}}/handouts/overview.html">Course Overview</a> <br/>

                        <span class="sidebaricon glyphicon glyphicon-send" aria-hidden="true"></span>
                        <a href="http://paperless.stanford.edu">Submitter</a> <br/>

                        <img src="img/icons/piazza-icon.png" class="sidebaricon" alt="icon">
                        <a href="https://piazza.com/stanford/fall2016/cs106b/home">Piazza</a> <br/>

                        <span class="sidebaricon glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                        <a href="https://mvideox.stanford.edu/Course/826#">Lecture Videos</a> <br/>



                        <img src="img/icons/qt-icon.png" class="sidebaricon" alt="icon">
                        <a href="{{pathToRoot}}/handouts/qt-creator.html">QT Creator</a><br/>


                        <!--<span class="sidebaricon glyphicon glyphicon-book" aria-hidden="true"></span>
                            <a href="">Text Book</a> <br/>-->

                            <img src="img/icons/stanford-favicon.png" class="sidebaricon" alt="icon">
                            <a href="http://stanford.edu/~stepp/cppdoc/">Stanford C++ Lib</a> <br/>




                            <span class="sidebaricon glyphicon glyphicon-edit" aria-hidden="true"></span>
                            <a href="{{pathToRoot}}/assnFiles/Blank.zip">Blank Project</a> <br/>

                            <span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <a href="{{pathToRoot}}/handouts/help.html">Help Hours</a> <br/>

                            <span class="sidebaricon glyphicon glyphicon-tasks" aria-hidden="true"></span>
                            <a href="https://b.socrative.com/login/student/">Socrative</a> <br/>

                            <!--<span class="sidebaricon glyphicon glyphicon-music" aria-hidden="true"></span>
                                <a href="https://play.spotify.com/user/1251835474/playlist/3O343f5rIdxCMofp8rCzcs?play=true&utm_source=open.spotify.com&utm_medium=open">Spotify Playlist</a> <br/>-->





                                <!--<span class="sidebaricon glyphicon glyphicon-film" aria-hidden="true"></span>
                                    <a href="">Videos</a> <br/>-->
                </div>

                <hr/>

                <div>
                    <p class="subtleHeading">ASSIGNMENTS</p>
                    <div class="well well-sm" style="margin-bottom:10px">
                        <a href="{{pathToRoot}}/assn/trailblazer.html">Assn 7: Trailblazer</a>
                    </div>
                    <div class="well well-sm" style="margin-bottom:10px">
                        <a href="{{pathToRoot}}/assn/huffman.html">Assn 6: Huffman</a>
                    </div>
                    <div class="well well-sm" style="margin-bottom:10px">
                        <a href="{{pathToRoot}}/assn/pqueue.html">Assn 5: PQueue</a>
                        <!--<br><a href="{{pathToRoot}}/assnFiles/pqueue/pqueue.pdf">(PDF)</a>-->
                    </div>
                    <div class="well well-sm" style="margin-bottom:10px">
                        <a href="{{pathToRoot}}/assn/boggle.html">Assn 4: Boggle</a>
                    </div>
                    <div class="well well-sm" style="margin-bottom:10px">
                        <a href="{{pathToRoot}}assn/metaAcademy.html">Assn 3: Meta Academy</a>
                    </div>
                    <div class="well well-sm" style="margin-bottom:10px">
                        <a href="{{pathToRoot}}assn/serafini.html">Assn 2: ADTs (Serafini)</a>
                    </div>
                    <div class="well well-sm" style="margin-bottom:10px">
                        <a href="{{pathToRoot}}/handouts/assignments.html">Assn 1: Fauxtoshop</a>
                    </div>
                    <div class="well well-sm" style="margin-bottom:10px">
                        <a href="{{pathToRoot}}/handouts/3-NameHash.pdf">Assn 0: Name Hash</a>
                    </div>

                    <!--<div class="well well-sm" style="margin-bottom:10px">
                        <a href="{{pathToRoot}}/assn/huffman.html">Assn 6: Huffman</a>
                        </div>
                        <div class="well well-sm" style="margin-bottom:10px">
                        <a href="{{pathToRoot}}/assn/metaAcademy.html">Assn 3: Meta Academy</a>
                        </div>
                        <div class="well well-sm" style="margin-bottom:10px">
                        <a href="{{pathToRoot}}/assn/serafini.html">Assn 2: Serafini</a>
                        </div>-->
                        <!--<div class="well well-sm" style="margin-bottom:10px">
                            <a href="{{pathToRoot}}/assn/life.html">Assn 1: Fauxtoshop</a>
                            </div>-->

                </div>
                <hr/>

                <div>
                    <p class="subtleHeading">EXAMS</p>
                    <p>
                    <a href="{{pathToRoot}}handouts/midterm.html">Midterm</a><br/>
                    <span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span> Thursday, Nov 3rd<br/>
                    <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 7-9pm
                    </p>
                    <p>
                    <a href="{{pathToRoot}}handouts/final.html">Final</a><br/>
                    <span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    Monday, Dec 12th<br/>
                    <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 8:30-11:30am
                    </p>
                </div>
                <hr/>


                <!-- Handouts 
                    <div>
                    <p class="subtleHeading">HANDOUTS</p>

                    <a href="">1. Syllabus</a><br/>
                    <a href="">2. Class Placement</a><br/>
                    <a href="">3. Honor Code</a><br/>
                    </div>-->



                    <p class="subtleHeading">STAFF</p>
                    <!--<span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span>cs106b-aut1617-staff@lists.stanford.edu-->
                    <p>
                    <img src="img/people/staff.jpg" style="width:100%"></img>
                    </p>
                    <p>
                    <div class="staffBox" >
                        <!--<img src="img/people/chris.bmp" class="staffImg"></img><br/>-->
                        Co-Lecturer: 
                        <a href="http://stanford.edu/~cgregg">Chris Gregg</a> <br>
                        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> cgregg@stanford.edu<br>
                        <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Gates 191<br>
                        <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Tue 11-12pm,<br/>
                        <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true" style="color:white"></span> Thur 4-5pm
                    </div>
                    </p>
                    <p>
                    <div class="staffBox">
                        <!--<img src="img/people/chris.bmp" class="staffImg"></img><br/>-->
                        Co-Lecturer: 
                        <a href="http://stanford.edu/~cpiech">Chris Piech</a> <br>
                        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> piech@cs.stanford.edu<br>
                        <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Gates 193<br>
                        <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Mon 3:30-4:30pm,<br/>
                        <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true" style="color:white"></span> Wed 1:30-2:30pm
                    </div>
                    </p>
                    <p>
                    <div class="staffBox" >
                        <!--<img src="img/people/chris.bmp" class="staffImg"></img><br/>-->
                        Head TA  
                        <a href="https://www.linkedin.com/in/antonaf">Anton Apostolatos</a> <br>
                        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> antonaf@stanford.edu<br>
                        <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang Basement<br>
                        <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Wed 2:30-4:30pm
                    </div>
                    </p>
                    <!--<div class="staffBox">
                        <img src="img/people/chris.bmp" class="staffImg"></img><br/>
                        Lecturer: <a href="http://stanford.edu/~cpiech">Chris Gregg</a> <br/>
                        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> piech@cs.stanford.edu<br/>
                        <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Gates 193<br/>
                        <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Mon 1:30-2:30pm, Wed 2:30-4:00pm
                        </div>
                        <br/>

                        <div class="staffBox">
                        <img src="img/people/chris.bmp" class="staffImg"></img><br/>
                        Lecturer: <a href="http://stanford.edu/~cpiech">Chris Piech</a> <br/>
                        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> piech@cs.stanford.edu<br/>
                        <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Gates 193<br/>
                        <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Mon 1:30-2:30pm, Wed 2:30-4:00pm
                        </div>

                        <br/>

                        <div class="staffBox">
                        <img src="img/people/megan.jpeg" class="staffImg"></img><br/>
                        Head TA: Anton Apostolatos<br/>
                        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> antonaf@stanford.edu<br/>
                        <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Gates B02<br/>
                        <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Tue, Th 9:00-10:30am 
                        </div>-->

                        <div style="height:10px"></div>

                        <hr/>

            </div>
            <div class="col-sm-9" >
                <!-- Newsfeed -->
                <div>

                    <p class="subtleHeading">ANNOUNCEMENTS</p>
                </div>
                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Final Review Video</div>
                        <div class="moment">2016120920</div>
                    </div>
                    <p>
                    The slides can be found <a href="{{pathToRoot}}handouts/CS106B_Finals_Review.pdf">here</a>
                    </p>
                    <p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/ZrfFtO6mLoQ" frameborder="0" allowfullscreen></iframe>
                    </p>
                </div>
                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Practice Finals</div>
                        <div class="moment">2016120723</div>
                    </div>
                    <p>
                    We posted <a href="{{pathToRoot}}handouts/final.html">practice finals</a>. The solutions to the first practice final are up, and the solutions to the second practice final will be posted on Friday.
                    </p>
                </div>

                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Assignment 7 (Trailblazer) YEAH Hours Video</div>
                        <div class="moment">2016120218</div>
                    </div>
                    <p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/XyyeCughG38" frameborder="0" allowfullscreen></iframe>
                    </p>
                </div>

                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Search Demo</div>
                        <div class="moment">2016113012</div>
                    </div>
                    <p>
                    We put together a <a href="{{pathToRoot}}handouts/search.html">demo</a> of all the search algorithms (to be updated as we learn more). Check it out:

                    </p><div style="background-color:white;width:100%">
                        <a href="{{pathToRoot}}handouts/search.html">
                            <center>
                                <img src="{{pathToRoot}}img/handouts/search/splash.png" style="width:100%; margin-top:10px">
                            </center>
                        </a>
                    </div>

                </div>


                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Assignment 7 YEAH Hours</div>
                        <div class="moment">2016113008</div>
                    </div>
                    <p>
                    Come one, come all! This Friday December 2nd, 3:30pm-4:30pm in Bishop Auditorium we'll be holding the last YEAH hours of the quarter. A reminder that you may not use a late day for Trailblazer, so we definitely recommend you start early!
                    </p>


                </div>
                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Assignment 6 (Huffman Encoding) YEAH Hours Video</div>
                        <div class="moment">2016111808</div>
                    </div>
                    <p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/BZarC2LkjeI" frameborder="0" allowfullscreen></iframe>
                    </p>
                </div>
                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Assignment 6 YEAH Hours</div>
                        <div class="moment">2016111612</div>
                    </div>
                    <p>
                    The YEAH hours for Huffman Encoding will be this Thursday, November 17 8-9pm at 320-105! Huffman encoding is an awesome algorithm, but it definitely can be tricky, so I envision these YEAH hours to be particularly useful. We will try to film, as usual. See you there!

                    </p>


                </div>

                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Assignment 5 (PQueue) YEAH Hours Video</div>
                        <div class="moment">2016111100</div>
                    </div>
                    <p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/Z86ZDMdkUyo" frameborder="0" allowfullscreen></iframe>
                    </p>
                </div>
                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Assignment 5 YEAH Hours</div>
                        <div class="moment">2016110912</div>
                    </div>
                    <p>
                    We'll be holding PQueue YEAH hours this Thursday November 10, 8-9pm at 320-105 (note that this is a different room than usual). Even though the assignment was released on Monday, we won't be going over Binary Heaps (a large part of the PQueue assignment concerns heaps) until Wednesday, which is why we're holding YEAH hours slightly later this time around. We will once more try to record the session.

                    </p>


                </div>

                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Midterm solutions</div>
                        <div class="moment">2016110911</div>
                    </div>
                    <p>
                    Midterm exams have been handed back electronically via gradescope. To help you get a big picture of how you are doing we <a href="{{pathToRoot}}handouts/midterm.html">published</a> the class distribution, and midterm solutions. Good work! We were impressed.
                    </p>

                    <p>
                    <a href="{{pathToRoot}}handouts/midterm.html">
                        <img style="width:100%" src="{{pathToRoot}}/handouts/midterm/distribution.png">
                    </a>
                    </p>
                </div>

                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Midterm Review Slides and Video</div>
                        <div class="moment">2016103022</div>
                    </div>
                    <p>
                    <a href="{{pathToRoot}}handouts/CS106B_Midterm_Review.pdf">Midterm review slides</a>
                    </p>
                    <p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/LlOgacDix1g" frameborder="0" allowfullscreen></iframe>
                    </p>
                </div>
                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Midterm Resources</div>
                        <div class="moment">2016102812</div>
                    </div>
                    <p>
                    <i>Update: we <a href="{{pathToRoot}}handouts/midterm.html">posted</a> the second practice midterm and solutions to the first.</i>
                    </p>
                    <p>
                    We made a <a href="{{pathToRoot}}handouts/midterm.html">midterm info page</a> (and will continue to update it) with practice midterms, reference sheets and tips for taking exams by hand. The first practice midterm is up.
                    </p>


                </div>

                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Midterm</div>
                        <div class="moment">2016102520</div>
                    </div>
                    <p>
                    The midterm will be on Thursday November 3rd 7:00-9:00pm. We suggest you arrive a few minutes early, so that we can start on time. We will be located in two different rooms. You will go to a room depending on the first letter of your last name, as follows:
                    </p>
                    <p> 
                    Last name starts with A-R: Cemex Auditorium (GSB)
                    </p>
                    <p> 
                    Last name starts with S-Z: Braun Auditorium (Mudd Chemistry Building)
                    </p>
                    <p> 
                    If you're in Braun, there's construction all around, so you may have a harder-than-usual time getting there. Plan accordingly and arrive early!
                    </p>


                </div>
                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Midterm Review Session</div>
                        <div class="moment">2016102520</div>
                    </div>
                    <p>
                    We will be holding a Midterm Review Session Sunday October 30th at 7:00-8:30pm in Bishop Auditorium. We'll be going over the various topics for the midterm, working out problems for each of them, and discussing strategies for studying and for taking the written exam. You won't want to miss it!
                    </p>




                </div>

                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Assignment 4 (Boggle) YEAH Hours Video</div>
                        <div class="moment">2016102519</div>
                    </div>
                    <p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/cOolpJs9tQY" frameborder="0" allowfullscreen></iframe>
                    </p>
                </div>
                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Assignment 4 YEAH Hours</div>
                        <div class="moment">2016102323</div>
                    </div>
                    <p>
                    YEAH Hours for the fourth assignment, Boggle, will be Monday, October 24th 7-8pm in 420-041. This is among the most involved assignments in this class, so it's definitely a session you won't want to miss!
                    </p>
                    <p> We will be recording the session. 
                    </p>


                </div>

                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Assignment 3 (Meta Academy) YEAH Hours Video</div>
                        <div class="moment">2016101807</div>
                    </div>
                    <p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/bHRljqSPa0E" frameborder="0" allowfullscreen></iframe>
                    </p>
                </div>
                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Assignment 3 YEAH Hours</div>
                        <div class="moment">2016101716</div>
                    </div>
                    <p>
                    Excited to get a head start on the third assignment? YEAH hours for Homework 3: Meta Academy will be this Monday October 17 at 7:00pm-8:00pm in 420-041. The YEAH hour will be recorded, for those who can't make it. See you there!
                    </p>



                </div>

                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Added Texts to Serafini</div>
                        <div class="moment">2016101211</div>
                    </div>
                    <p>
                    A student astutely pointed out that we didn't have a particularly diverse set of texts for the Serafini homework assignment. We have rectified this by adding the following texts:<br>
                    <ul>
                        <li><a href="{{pathToRoot}}/assnFiles/serafini/otherTexts/cisneros.txt">cisneros.txt</a> -- "The House on Mango Street," by Sandra Cisneros</li>
                        <li><a href="{{pathToRoot}}/assnFiles/serafini/otherTexts/hughes.txt">hughes.txt</a> -- "Collected Poems of Langston Hughes"</li>
                        <li><a href="{{pathToRoot}}/assnFiles/serafini/otherTexts/hurston.txt">hurston.txt</a> -- "Their Eyes Were Watching God," by Zora Neale Hurston</li>
                        <li><a href="{{pathToRoot}}/assnFiles/serafini/otherTexts/isiguro.txt">isiguro.txt</a> -- "Never Let Me Go" by Kazuo Ishiguro</li>
                        <li><a href="{{pathToRoot}}/assnFiles/serafini/otherTexts/morrison.txt">morrison.txt</a> -- "The Bluest Eye" by Toni Morrison</li><p>
                        You can download the texts via this link: <a href="{{pathToRoot}}/assnFiles/serafini/otherTexts.zip">Other texts for Serafini</a>
                    </ul>
                    <p>
                    To install the texts so you can use them in your program:
                    <ol>
                        <li>Unzip the otherTexts.zip file.</li>
                        <li>Close Qt Creator and delete the .user.pro file, and the build directory (probably in the same directory where your project directory is)</li>
                        <li>Copy the .txt files into the Ngrams/res folder</li>
                        <li>Re-open your project and re-configure it in Qt Creator</li>
                    </ol>
                    Let us know if you can't figure it out!
                    <p>
                    </p>
                </div>
                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Assignment 2 YEAH Hours Video</div>
                        <div class="moment">2016100722</div>
                    </div>
                    <p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/qyWI4lGaN4I" frameborder="0" allowfullscreen></iframe>
                    </p>



                </div>

                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Scatter blurriness -- we will accept two solutions</div>
                        <div class="moment">2016100612</div>
                    </div>
                    <p>
                    There have been a number of posts asking about why our Scatter example output is less blurry than yours. It turns out that in our solution, we interpreted "radius" to just be to the right and down on the image (not left/up, as well), which is contrary to our responses on Piazza and in office hours / LaIR.<p>

                    So, <b>we will accept solutions that meet either criteria</b>. In other words, if you interpreted the scatter radius to be to the left/right and up/down distance away from the original pixel, that's fine. Or, if you interpreted the scatter radius to just be to one side and one vertical direction, we will accept that, too.<p>

                    To reiterate: if your solution for Scatter is coming out much more blurry than our solution, <b>that is probably fine</b>, and we will accept it if you have a reasonable interpretation of the problem.<p>

                    We're very sorry for the confusion, and thanks to everyone who posted a question about it!<p>

                    Please respond in <a href="https://piazza.com/class/itfcnspzbyn5ou?cid=161">this thread in Piazza</a> if you have further questions or concerns.

                    </p>



                </div>
                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Assignment 2 YEAH Hours</div>
                        <div class="moment">2016100513</div>
                    </div>
                    <p>
                    Excited to get a head start on the second assignment? YEAH hours for Homework 2: ADTs will be this Friday October 7 at 4:00pm-5:00pm in 420-041. The YEAH hour will be recorded, though we will have a secret surprise to those who come to the session. See you there!
                    </p>



                </div>

                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">YEAH Fauxtoshop Introduction Video</div>
                        <div class="moment">2016092907</div>
                    </div>

                    <p>

                    See the video below for Anton's introduction to the Fauxtoshop assignment.<p>

                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/-tuaVHYhH3U" frameborder="0" allowfullscreen></iframe>

                    </p>

                </div>
                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">How to Create a Blank Project Video</div>
                        <div class="moment">2016092815</div>
                    </div>

                    <p>

                    See below for a short instructional video on how to create a blank project from a copy of another project. <p>

                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/f7Z6Rr6_OpU" frameborder="0" allowfullscreen></iframe>

                    </p>

                </div>
                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Assignment 1: Fauxtoshop</div>
                        <div class="moment">2016092808</div>
                    </div>

                    <p>

                    <a href="{{pathToRoot}}/handouts/assignments.html">Fauxtoshop</a>, the first assignment, is out! It is due next Friday (Oct 7th) at noon. Get started early and come to YEAH hours (which will be recorded) Wednesday September 28 at 7:00pm-8:00pm in 420-041.
                    </p>

                    <p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/GWV4W_gEXoQ" frameborder="0" allowfullscreen></iframe>
                    </p>


                </div>

                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Qt Special Help Hour</div>
                        <div class="moment">2016092718</div>
                    </div>

                    <p>
                    We'll be holding special Qt help session hours in the LaIR (second floor of the Old Union) 8-9pm Thursday September 29. Please come only if you've tried installing Qt Creator and have problems that are not addressed in the FAQ or the troubleshooting guide!
                    </p>

                </div>


                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Online Video Access</div>
                        <div class="moment">2016092711</div>
                    </div>

                    <p>

                    CS106B will be recorded this quarter, and will be available at 7:00pm same day of class lecture. Lectures are not downloadable, but are streamable throughout the Fall '16 quarter. These recordings are for on-campus students only - CS106B is not an SCPD course this quarter. The link to access these videos is:
                    </p>
                    <p>
                    <a href="http://mvideox.stanford.edu/course/826">http://mvideox.stanford.edu/course/826</a>

                    </p>


                </div>


                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Assignment 1 YEAH Hours</div>
                        <div class="moment">2016092710</div>
                    </div>

                    <p>

                    Every CS106B assignment will have YEAH (Your Early Assignment Help) hours. In these one-hour sessions we will delve into the homework collectively and try to tackle any questions or immediate issues we have with the write-up or what the assignment requires. These are super useful, and can cut many hours of head scratching for you when dealing with the assignments in this course.

                    </p>
                    <p>
                    The first YEAH hour will be this Wednesday September 28 at 7:00pm-8:00pm in 420-041. See you there!

                    </p>


                </div>




                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Assignment 0: Name Hash</div>
                        <div class="moment">2016092614</div>
                    </div>

                    <p>

                    This is a very simple assignment that demonstrates that you have successfully installed
                    Qt Creator on your computer and can run a short test program. Your only submission
                    requirement is to put the result of the program (you will see what this means when you
                    run it!) into a Google Form, located here:

                    </p>
                    <p>

                    <a href="https://goo.gl/CBp1Jz">https://goo.gl/CBp1Jz</a>

                    </p>

                    <p>
                    This assignment is not meant to be stressful – we just want you to get Qt Creator going
                    early so you don’t get realistically stressed out for the first real assignment.
                    </p>


                </div>


                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Sign Up for Piazza</div>
                        <div class="moment">2016091800</div>
                    </div>

                    <p>
                    This quarter CS106B is using Piazza to facilitate questions. Go to <a href="https://piazza.com/stanford/fall2016/cs106b/home">piazza.com/stanford/fall2016/cs106b/home</a> to sign up. You can ask course related questions and see answers to other student questions. For personal questions please feel free to email Anton or either Chris.
                    </p>


                </div>

                <div class="well">
                    <div class="newsfeedHeader">
                        <div class="newsfeedTitle">Welcome</div>
                        <div class="moment">2016091800</div>
                    </div>

                    <p>
                    Welcome to CS106B! We are looking forward to a fun quarter. Class starts Monday Sept 26th at 12:30am in Hewlett 200.
                    <div class="mapOverlay" onClick="style.pointerEvents='none'"></div>
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.3423023584405!2d-122.17506048519306!3d37.42901763975038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb2ae177cc91%3A0x5351ffed56456da8!2sWilliam+R.+Hewlett+Teaching+Center%2C+370+Serra+Mall%2C+Stanford%2C+CA+94305%2C+USA!5e0!3m2!1sen!2sca!4v1474211377668" width="567" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

                    </div>
                    </p>

                </div>



                <!--  End of hidden part  -->
                <!--</div>-->


        </div>
    </div>
    </div>

    %include templates/parts/footer.html


    </div>

    <!--<script>
var BOTTOM_POS = 0;
var INFO_COL = null;

window.onload = function() {
    // inforCol_absBottomY - screen_height
    //var infoTop = document.getElementById("infoCol").getBoundingClientRect().top;
    //var infoHeight = $("#infoCol").height()
    //BOTTOM_POS = infoTop + infoHeight - screen.height;
    INFO_COL = $('#infoCol')
}

window.onscroll = function () {
    // point at which I want to start scrolling is about 866
    // offset from the scroll top is about 875
    var topPos = $(document.body).scrollTop() - 875;
    //console.log($(document.body).scrollTop())
    INFO_COL.css({"position" : "relative", "top" : topPos});
};
    </script>-->

    <script type="text/javascript">
$( ".moment" ).each(function( i ) {
    var date = $(this).html()

        var fromStr = moment(date, "YYYYMMDDHH").fromNow()

        $(this).html(fromStr)
});
//alert(moment("20160101", "YYYYMMDD").fromNow())
    </script>


</body>
