<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Duo Slango
					</h1>
					
					<p>
						Written by Chris Piech
					</p>

					<p>
						<p class="subtleHeading">January 15th, 2016</p>
					</p>

				</div>
				<hr/>
			</div>
		</div>



		<!-- Main Image -->
		<div class="row">
			<div class="col-sm-12">
				<p>
					In class I went over a new example Duo Slango. Its a program where you randomly generate questions to help students learn a language. This example uses a wide variety of the <a href="https://en.wikipedia.org/wiki/Abstract_data_type">ADTs</a> we learned about in class.
				</p>
				<center>
					<img src = "{{pathToRoot}}img/handouts/duoslango/example.png" style="max-width:80%"></img>
				</center>
				<center>
					<i>Duoslango which happily implements some of the great ideas in <a href="https://www.duolingo.com/">duolingo</a>.</i>
				</center>
				<p></p>
				<hr/>
			</div>
		</div>

		

		<div class="row">
			<div class="col-sm-12">
                <h2>Data</h2>
                <p> In duoslango, you don't just learn a language... you learn the words that are most relevant to you. I ran a program that chose a few words from the CS106B website that common on the website (and less popular in the general internet).
                </p>

                    <h4 class="secondHeading">translation.txt</h4>
                    <p>
                    <pre>good times:buenos tiempos
program:la programa
map:la mapa
neighbor:el vecino
ladder:la escalera
word:la palabra
style:el estilo
collection:la coleccion
example:el ejemplo
life:la vida
set:el conjunto
queue:la cola
stack:el monton</pre>

                </p>

                <h2>ADTs</h2>
                <p>Duoslango is a tour de force of a lot of the ADTs we study in CS106B. It uses Sets, Vectors, Maps. It even uses an ADT that we normally don't tell CS106B students about (but I guess I think its super neat and super useful aka worth your time) called a PriorityQueue.</p>

                <p>
                    A <code>PriorityQueue</code> is very similar in functionality to a regular <code>Queue</code>. The two main ways you interact with this new ADT are to <code>enqueue</code> and <code>dequeue</code> values. Its templatized just like a Queue, so for example you could declare a <code>PriorityQueue&lt;string> myQueue</code>. It is <b>different</b> from a regular Queue in that, when you enqueue a value you give the PriorityQueue your value <i>and</i> a corresponding priority. Continuing with the same example you could write <code>myQueue.enqueue("Chris", 5);</code>. Now when you dequeue, the first element to come out will be the one with the smallest corresponding value. Check out the <a href="http://stanford.edu/~stepp/cppdoc/PriorityQueue-class.html">Priority Queue documentation</a>. Thats all. PriorityQueues are really useful.
                </p>

				<h2>Solution</h2>
				<p> Here is the code in all of its glory.

				</p>
                

                <p>
                    <pre class="editor">/*
 * CS 106B, Chris Piech
 * This program uses several ADTs to help generate random questions that
 * will help you learn a language.
 */

#include &lt;fstream>
#include &lt;iostream>
#include &lt;iomanip>
#include "console.h"
#include "hashmap.h"
#include "map.h"
#include "set.h"
#include "simpio.h"
#include "filelib.h"
#include "gwindow.h"
#include "gobjects.h"
#include "pqueue.h"
#include "ginteractors.h"
#include "gevents.h"

using namespace std;

// some constants
const int N_ANSWERS = 4;
const int N_DISTRACTORS = N_ANSWERS - 1;
const int SCREEN_WIDTH = 700;
const int SCREEN_HEIGHT = 400;

Map&lt;string, string> loadTranslations(string fileName);
void askQuestion(GWindow & gw, string word, Vector&lt;string> answers, int correctIndex);

int main() {
    GWindow gw(SCREEN_WIDTH, SCREEN_HEIGHT);
    gw.setTitle("Duo Slango");

    // store the translations into a map
    Map&lt;string, string> englishToSpanish = loadTranslations("translations.txt");
    // this gets all the values in the map. In this case that is a vector of all 
    // the spanish words.
    Vector&lt;string> allSpanish = englishToSpanish.values();

    // loops over the keys in englishToSpanish dictionary
    for(string question : englishToSpanish) {
        // 0. get answer
        string answer = englishToSpanish.get(question);

        // 1. make distractors
        Set&lt;string> distractors;
        while(distractors.size() < N_DISTRACTORS) {
            int index = randomInteger(0, allSpanish.size() - 1);
            string dis = allSpanish[index];
            if(dis != answer) {
                distractors.add(dis);
            }
        }

        // 2. get the answers in random order
        PriorityQueue&lt;string> answerQueue;
        answerQueue.enqueue(answer, random());
        for(string dis : distractors) {
            answerQueue.enqueue(dis, random());
        }
        int correctIndex = 0;
        Vector&lt;string> answers;
        for(int i = 0; i < N_ANSWERS; i++) {
            string ans = answerQueue.dequeue();
            if(ans == answer) correctIndex = i;
            answers.add(ans);
        }

        // 3. does the graphics display of the question and answer
        askQuestion(gw, question, answers, correctIndex);

    }

    gw.clear();
    return 0;
}

/* Load Translations
 * This method does the file reading that we have come to learn
 * live and love. I saved the translations one per line with a
 * colon separating the spanish and the english parts. This
 * function breaks apart each line, and happily adds the two
 * to a Map from english to spanish.
 */
Map&lt;string, string> loadTranslations(string fileName) {
    ifstream fileStream;
    openFile(fileStream, fileName);

    Map&lt;string, string> englishToSpanish;
    string line;
    while(getline(fileStream, line)) {
        int splitIndex = line.find(":");
        string english = line.substr(0, splitIndex);
        string spanish = line.substr(splitIndex + 1);
        // this is the best line in the function
        englishToSpanish[english] = spanish;
    }

    return englishToSpanish;
}</pre>
                </p>

                <h2>Graphics</h2>
                <p>
                    The main point of this demo was to use a lot of different ADTs. But I also wanted it to be pretty. Here is some graphics code that creates the nicely displayed questions. The style is <b>rough</b> and I didn't intent to show it to students. I included it just in case someone was interested.
                </p>

                <p>
                    <button id="gButton" type="button" class="btn btn-primary " onclick='$("#gCode").show();$("#gButton").hide();'>Show Graphics Code</button>
                </p>
                <div id="gCode" style="display:none">
                <p >
                    <pre class="editor">/*********************************************************************
 *                   QUESTION VISUALIZATION                          *
 * This is not required CS106B knowledge, but feel free to take a    *
 * cheeky peek in case you are curious.                              *
 *********************************************************************/

const int BUTTON_WIDTH = 300;
const int BUTTON_HEIGHT = 100;

void drawButton(GWindow & gw, string word, double px, double py) {
    int middleX = px * gw.getWidth();
    int middleY = py * gw.getHeight();
    int x = middleX - BUTTON_WIDTH / 2;
    int y = middleY - BUTTON_HEIGHT / 2;
    GLabel * label = new GLabel(word);
    label->setFont("SansSerif-24");
    GRoundRect * rect = new GRoundRect(x, y, BUTTON_WIDTH, BUTTON_HEIGHT);
    rect->setFillColor("#7DDD00");
    rect->setColor("#7DDD00");
    rect->setFilled(true);
    gw.add(rect);
    gw.add(label, middleX - label->getWidth()/2, middleY + label->getFontAscent()/2);
}

void addCenteredImage(GWindow & gw, string fileName) {
    GImage * img = new GImage(fileName);
    int x = (gw.getWidth() - img->getWidth()) / 2;
    int y = (gw.getHeight() - img->getHeight()) / 2;
    gw.add(img, x, y);
}

void askQuestion(GWindow & gw, string word, Vector&lt;string> answers, int correctIndex) {
    gw.clear();
    GRect * bkg = new GRect(0, 0, gw.getWidth(), gw.getHeight());
    bkg->setFilled(true);
    bkg->setColor("#479DFC");
    gw.add(bkg);
    GImage* bird = new GImage("bird.png");
    bird->scale(0.3);
    gw.add(bird);
    GLabel * wordLabel = new GLabel(word);
    wordLabel->setColor("white");
    wordLabel->setFont("SansSerif-42");
    gw.add(wordLabel, (gw.getWidth() - wordLabel->getWidth())/2, gw.getHeight() * .15 );

    drawButton(gw, answers[0], 1./4, .4);
    drawButton(gw, answers[1], 3./4, .4);
    drawButton(gw, answers[2], 1./4, .8);
    drawButton(gw, answers[3], 3./4, .8);

    while (true) {
        GMouseEvent e = waitForEvent();
        if (e.getEventType() == MOUSE_PRESSED) {
            GObject * obj = gw.getGObjectAt(e.getX(), e.getY());
            if(obj != bkg) {
                bool left = e.getX() < gw.getWidth() /2;
                bool top = e.getY() < gw.getHeight() * 0.6;
                bool correct = false;
                if(top  && left  && correctIndex == 0) correct = true;
                if(top  && !left && correctIndex == 1) correct = true;
                if(!top && left  && correctIndex == 2) correct = true;
                if(!top && !left && correctIndex == 3) correct = true;
                if(correct) {
                    addCenteredImage(gw, "gold.png");
                } else {
                    addCenteredImage(gw, "sad.png");
                }
                break;
            }
        }
    }
    pause(1000);
}</pre>
                </p>
            </div>
			</div>
		</div>
	

		%include templates/parts/footer.html

	</div>

	<script>
		$('.editor').each(function( index ) {
			var editor = ace.edit(this);
			editor.setTheme('ace/theme/eclipse');
		   editor.getSession().setMode("ace/mode/c_cpp");
		   editor.setReadOnly(true);
		   editor.setShowPrintMargin(false);
		   editor.renderer.setShowGutter(false); 
		   editor.setOptions({
			    maxLines: Infinity,
			    fontSize: "10pt"
			});
		   editor.setOption("highlightActiveLine", false);
		});
	</script>

</body>
