<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Final Info
					</h1>
					<p class="subtleHeading">
					March 13, 2017	
					</p>

				</div>
				<hr/>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-12">
				<h1>Logistics</h1>
				<div class="row">
					<div class="col-sm-9">
						<p>
							The CS106X Final is Monday March 20th from 8:30am to 11:30am. 
		If you require OAE accommodations, you should email Aaron by Wednesday, March 15th at 5pm with your availability and the accommodations you require. If you haven't already sent him your OAE documentation, please attach that to the email.
						</p>
						<p>

		The exam will be in TBA.
						</p>

						<p>The exam is open book, open notes, closed computer.
						</p>
						
					</div>
					<div class="col-sm-3">
						<div class="well info faq" >
							<b>Final</b> <br/>
							<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>
							Mon, March 20th<br/>
								
							<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 
							8:30-11:30am<br/>

							<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>
							Location: TBA<br/>
						</div>
					</div>
				</div>
				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h1>Topics</h1>
				<p>The final covers the material presented in class from the start of class through the lecture on Friday,
December 2nd. Specifically you will be responsible for:</p>

				<ol>
					<li>Functions and Pass by Reference</li>
					<li>Use of Collections</li>
					<li>Recursion</li>
					<li>Recursive Exploration and Backtracking</li>
					<li>Big O</li>
					<li>Pointers</li>
					<li>Classes and Structs</li>
					<li>Linked Lists</li>
					<li>Hashing</li>
					<li>Trees</li>
					<li>Collections Implementations</li>
					<li>Graphs</li>
                                        <li>C++ Inheritance and Polymorphism</li>
				</ol>

				<p>The bulk of the final will be built on the concepts you covered in the assignments, especially the concepts on the assignments starting from Boggle. 
					
				</p>

				<p>
					Here are some review materials for some of the concepts on the Final Exam. This isn't an exhaustive list (for example it doesn't cover linkedlists / trees or graphs). See the book for a review of all concepts:
				</p>

				<p>
					<div class="row">
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/4-Exploration.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Recursion</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/5-BigO.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Big O</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/6-Pointers.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Pointers</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/7-Classes.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Structs + Classes</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/8-Hashing.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Hashing</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/search.html"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Search</a>
							</center>
						</div>
					</div>
				</p>

				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h1>Strategies</h1>
				

				<p>
					Exams are exciting, and a good chance to learn. Sometimes they can feel competitive. Remember though that in the long term you aren't competing against the other people in the classroom. In fact they will probably be your team mates in the post Stanford world. The only race is with yourself. We don't curve the exam. If everyone does a great job of demonstrating that they understand the material, everyone will get a better grade.
				</p>

				<p>Here is a printable handout with a complete list of all CS106X library functions you may find useful on the exam and a handout on exam strategies:</p>

				<p>
					<div class="row">
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/final/reference-sheet-final.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Reference Sheet</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/23J-ExamStrategies.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Exam Strategies</a>
							</center>
						</div>
					</div>
				</p>

				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h1>Practice Finals</h1>
				<p>
					<div class="row">
						<div class="col-sm-2">
							<center>
                                                            <a href="{{pathToRoot}}handouts/final/cs106x-sample-final-1.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Practice #1</a>
							</center>
						</div>

						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/final/practice-final-1-soln.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span></a> <br/>
                                                        <a href="{{pathToRoot}}handouts/final/cs106x-sample-final-1-key.pdf">Practice Soln #1</a><br/>
							</center><br/>

						</div>
						<div class="col-sm-2">
							<center>
                                                            <a href="{{pathToRoot}}handouts/final/cs106x-sample-final-2.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Practice #2</a>
							</center>
						</div>

						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/final/practice-final-2-soln.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span></a> <br/>
                                                        <a href="{{pathToRoot}}handouts/final/cs106x-sample-final-1-key.pdf">Practice Soln #1</a><br/>
							</center><br/>

						</div>
						<div class="col-sm-2">
							<center>
                                                            <a href="{{pathToRoot}}handouts/final/cs106x-sample-final-3.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Practice #3</a>
							</center>
						</div>

						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/final/practice-final-2-soln.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span></a> <br/>
                                                        <a href="{{pathToRoot}}handouts/final/cs106x-sample-final-1-key.pdf">Practice Soln #3</a><br/>
							</center><br/>

						</div>
					</div>
				</p>

				<p>
					There is no better way to prepare for the final than a lot of practice. Make sure to work on problems <i>without</i> looking on the solution. It's much easier to verify that a correct solution works then it is to write it yourself.
				</p>

				
				
			</div>
		</div>
		
		
				
		


	

		%include templates/parts/footer.html

	</div>

</body>
