<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Helper Hours
					</h1>
					

				</div>
				<hr/>
			</div>
		</div>

		<!--<p>
			<center>
				<img style="width:500px" src="{{pathToRoot}}img/handouts/whatsNext/next.png">	
			</center>
		</p>-->

		<div class="row">
			<div class="col-sm-12">
				<p>Here are the help hours for CS106X: both LAIR hours (starting week 2) and office hours. Chris holds office hours by appointment in addition to his regular hours.</p>
				<iframe src="https://calendar.google.com/calendar/embed?src=5hfmh0le2rvmn8b2u5obi1jps4%40group.calendar.google.com&ctz=America/Los_Angeles" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
		%include templates/parts/footer.html

	</div>

</body>
