<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Midterm Info
					</h1>
					<p class="subtleHeading">
						Feb 3rd, 2016
					</p>

				</div>
				<hr/>
			</div>
		</div>

		<!--<p>
			<center>
				<img style="width:500px" src="{{pathToRoot}}img/handouts/whatsNext/next.png">	
			</center>
		</p>-->

		<div class="alert alert-success" role="alert"><b>Info:</b> The midterm has been graded you can pick it up Wednesday, Feb 17th in class. If you miss the pickup you can get it at place TBD</div>

		<div class="row">
			<div class="col-sm-12">
				<h1>Distribution</h1>
				<p>Students did well on this exam. I wrote it to be a litmus test of whether or not you know the concepts that we have covered so far in class. Overall this looks healthy.</p>
				<p><img style = "width:100%" src = "{{pathToRoot}}img/handouts/midterm/histogram.png"></img></p>
				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h1>Solutions</h1>
				<p>Here is the exam and the exam solutions:</p>
				<p>
					<div class="row">
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}assnFiles/midterm/midterm.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Midterm</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}assnFiles/midterm/midterm-soln.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Solutions</a>
							</center>
						</div>
					</div>
				</p>
				<p>
					<i>Special note: a handful of students who took the exam early had a slightly different version of question 4 (and for some the question was out of 20 points). We built a rubric that scaled for the difficulty of the problem.</i>
				</p>
				
				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h1>Regrade Requests</h1>
				<p>Sometimes we make mistakes grading. If you notice something wrong with your midterm, we can regrade it. However you <b>must</b> follow these instructions:
				</p>
				<p>
					<ol>
						<li>Write a cover sheet explaining what you think went wrong and why</li>
						<li>Bring the exam (with cover sheet) to class</li>
						<li>We reserve the right to regrade your entire exam</li>
						<li>Your answer must be unchanged. We scanned 20% of the midterms.</li>

					</ol>
				</p>
				<p>The deadline to submit a regrade request is Feb 24th</p>
				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h1>Logistics</h1>
				<div class="row">
					<div class="col-sm-9">
						<p>
							The CS106B Midterm is Tuesday Feb 9th from 7pm to 9pm. If you have unavoidable conflicts with this time, please email Megan (mfaulk@stanford.edu) by Thursday, February 4th at 12pm. You should explain the reason for your conflict and include all times that you're available to take the exam on Tuesday, Feb 9th and Wednesday, Feb 10th.
		If you require OAE accommodations, you should also email Megan by Thursday at 12pm with your availability and the accommodations you require. If you haven't already sent her your OAE documentation, please attach that to the email.
						</p>
						<p>

		The exam is split into three locations. The location of your exam is based on your last name:

							<div class="well" style="padding-bottom:0px">
								<ul class="list-group">
									<!-- 33.5% -->
								  <li class="list-group-item">Last name A-HAN: <a href="https://goo.gl/maps/MS4KkhbDQsj">Hewlett 200</a></li>
								  <!-- 26.0% -->
								  <li class="list-group-item">Last name HAP-MC: <a href="https://goo.gl/maps/MS4KkhbDQsj">Hewlett 201</a></li>
								  <!-- 40.4% -->
								  <li class="list-group-item">Last name ME-Z: <a href="https://goo.gl/maps/zAt2CNLnRzm">Braun Auditorium</a></li>
								</ul>
							</div>
						</p>

						<p>The exam is open book, open notes, closed computer.
						</p>
						
					</div>
					<div class="col-sm-3">
						<div class="well info faq" >
							<b>Midterm</b> <br/>
							<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>
							Tue, Feb 9th<br/>
								
							<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 
							7-9pm<br/>

							<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>
							By last name<br/>
						</div>
						<div class="well info faq" >
							<b>Practice Midterm Sitting</b> <br/>
							<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>
							Sun, Feb 6th<br/>
								
							<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 
							10am-12pm<br/>

							<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>
							Bishop Auditorium<br/>
						</div>
					</div>
				</div>
				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h1>Topics</h1>
				<p>The midterm covers the material presented in class through the lecture on Monday,
February 1. Specifically you will be responsible for:</p>

				<ol>
					<li>Functions and Pass by Reference</li>
					<li>Use of Collections (Maps, Sets, Stacks, Queues, Vectors and Grids)</li>
					<li>Recursion (Definition and Fractals)</li>
					<li>Recursive Exploration and Backtracking</li>
					<li>Big O</li>
				</ol>

				<p>The bulk of the midterm will be build on the concepts you covered in the assignments you have completed up to this point in the course (Life, Serpinski and MetaAcademy). </p>

				<p>
					There will be four or five questions on the exam. The first question will ask you to trace a mystery function and determine runtime Big-O. You will only be responsible for determining Big-O of iterative functions, not recursive ones. We will ask you to read or implement tasks that use collections. We will ask you to read or implement tasks that require recursion (and most likely recursive exploration).
				</p>

				<p>
					Things that will <b>not</b> be on the midterm (you may see them on previous practice exams): structs, pointers, defining classes or linked lists. 
				</p>

				<p>
					We put together handouts on the topics which we will expect you to know:
				</p>

				<p>
					<div class="row">
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/1-PassbyReference.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Functions</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/2-CollectionsandUsage.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Collections</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/3-Recursion.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Recursion</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/4-Exploration.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Exploration</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/5-BigO.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Big O</a>
							</center>
						</div>
					</div>
				</p>

				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h1>Strategies</h1>
				

				<p>
					Exams are exciting, and a good chance to learn. Sometimes they can feel competitive. Remember though that in the long term you aren't competing against the other people in the classroom. In fact they will probably be your team mates in the post Stanford world. The only race is with yourself. We don't curve the exam. If everyone does a great job of demonstrating that they understand the material, everyone will get a better grade.
				</p>

				<p>Here is a printable handout with a complete list of all CS106B library functions you may find useful on the exam and a handout on exam strategies:</p>

				<p>
					<div class="row">
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/reference-sheet-midterm.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Reference Sheet</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/23J-ExamStrategies.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Exam Strategies</a>
							</center>
						</div>
					</div>
				</p>

				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h1>Review Questions</h1>
				<p>I will post two practice exams of problems that I think are representative of the ones I have written for Tuesday's exam. The solution to the first practice exam and the second practice exam will be posted on Sunday!</p>

				<p>
					<div class="row">
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/chris-practice-1.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Practice #1</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/chris-practice-1-soln.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Practice Soln #1</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/chris-practice-2.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Practice #2</a>
							</center>
						</div>

						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/chris-practice-2-soln.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Practice Soln #2</a>
							</center>
						</div>
					</div>
				</p>

				<p>
					In addition you can also take these exams from previous quarters. My exam format is most similar to Keith and Jerry. Importantly our exam is a week earlier than Marty's and does not cover linked lists. 
				</p>
				<ul class="list-group">
					<li class="list-group-item">
						<a href="{{pathToRoot}}handouts/midterm/jerry-practice.pdf">Jerry Practice</a>
						|  
				    	<a href="{{pathToRoot}}handouts/midterm/jerry-practice-soln.pdf">Solution</a>
				    </li>

				    <li class="list-group-item">
						<a href="{{pathToRoot}}handouts/midterm/keith-practice.pdf">Keith Practice</a>  
						|
				    	<a href="{{pathToRoot}}handouts/midterm/keith-soln.pdf">Solution</a>
				    </li>

				    <li class="list-group-item">
						<a href="{{pathToRoot}}handouts/midterm/marty-15au.pdf">Marty Practice</a>  
						|
				    	<a href="{{pathToRoot}}handouts/midterm/marty-15au-key.pdf">Solution</a>
				    </li>
						</ul>
			</div>
		</div>
		
		
				
		


	

		%include templates/parts/footer.html

	</div>

</body>
