<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">

		
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Midterm Info
					</h1>
					<p class="subtleHeading">
						February 17, 2017
					</p>

				</div>
				
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h1>Logistics</h1>
				<div class="row">
					<div class="col-sm-9">
						<p>
							The CS106X Midterm is Thursday February 23rd from 7pm to 9pm. 
						</p>
						<p>
                                                The exam will be in 370-370:<br>
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d396.04715515937556!2d-122.1713249!3d37.4281921!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d37.4281516!2d-122.1715783!5e0!3m2!1sen!2sus!4v1487360020638" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						</p>

						<p>The exam is open book, open notes, closed computer.
						</p>
						
					</div>
					<div class="col-sm-3">
						<div class="well info faq" >
							<b>Midterm</b> <br/>
							<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>
							Thur, Feb. 23rd<br/>
								
							<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 
							7-9pm<br/>

							<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>
							370-370<br/>
						</div>
						<div class="well info faq" >
							<b>Midterm Review Session</b> <br/>
							<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>
							Mon, Feb. 20th<br/>
								
							<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 
							7:30pm-8:30pm<br/>

							<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>
							Room TBA<br/>
						</div>
					</div>
				</div>
				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h1>Topics</h1>
				<p>The midterm covers the material presented in class through the lecture on Wednesday,
Feb. 15th. Specifically you will be responsible for:</p>

				<ol>
					<li>Functions and Pass by Reference</li>
					<li>Big O</li>
					<li>Use of Collections (Maps, Sets, Stacks, Queues, Vectors and Grids)</li>
					<li>Recursion (Definition and Fractals)</li>
					<li>Recursive Exploration and Backtracking</li>
                                        <li>Structs and Classes</li>
                                        <li>Linked Lists</li>
				</ol>

				<p>The bulk of the midterm will be build on the concepts you covered in the assignments you have completed up to this point in the course (Fauxtoshop, WordLadder/Ngrams/Cipher, Recursion, Backtracking). </p>

				<p id="concepts">
					We put together handouts on the topics which we will expect you to know:
				</p>

				<p>
					<div class="row">
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/1-PassbyReference.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Functions</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/2-CollectionsandUsage.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Collections</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/3-Recursion.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Recursion</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/4-Exploration.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Exploration</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/5-BigO.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>Big O</a>
							</center>
						</div>
					</div>
				</p>

				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h1>Strategies</h1>
				

				<p>
					Exams are exciting, and a good chance to learn. Sometimes they can feel competitive. Remember though that in the long term you aren't competing against the other people in the classroom. In fact they will probably be your team mates in the post Stanford world. The only race is with yourself. We don't curve the exam. If everyone does a great job of demonstrating that they understand the material, everyone will get a better grade.
				</p>

				<p>Here is a printable handout with a complete list of all CS106X library functions you may find useful on the exam and a handout on exam strategies:</p>

				<p>
					<div class="row">
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/reference-sheet-midterm.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Reference Sheet</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/23J-ExamStrategies.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Exam Strategies</a>
							</center>
						</div>
					</div>
				</p>

				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12" id="practiceMidterms">
				<h1>Practice Midterms</h1>
				<p>
					<div class="row">
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/chris-practice-1.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Practice #1</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/chris-practice-1-soln.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Practice Soln #1</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/chris-practice-2.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Practice #2</a>
							</center>
						</div>

						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/chris-practice-2-soln.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Practice Soln #2</a>
							</center>
						</div>
						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/cs106x-midterm-16au.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Practice #3</a>
							</center>
						</div>

						<div class="col-sm-2">
							<center>
							<a href="{{pathToRoot}}handouts/midterm/cs106x-midterm-16au-key.pdf"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;"></span><br/>
									Practice Soln #3</a>
							</center>
						</div>
					</div>
				</p>
			</div>
		</div>
		%include templates/parts/footer.html

	</div>

</body>
