<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Links to Past Offerings of CS106B
					</h1>
					

				</div>
				<hr/>
			</div>
		</div>

		<!--<p>
			<center>
				<img style="width:500px" src="{{pathToRoot}}img/handouts/whatsNext/next.png">	
			</center>
		</p>-->

		<div class="row">
			<div class="col-sm-12">
				<ul>
	<li><a class="popup" href="http://web.stanford.edu/class/archive/cs/cs106b/cs106b.1162/index.shtml" target="_blank">2015 Autumn (Marty Stepp)</a></li>
	<li><a class="popup" href="http://web.stanford.edu/class/archive/cs/cs106b/cs106b.1158/" target="_blank">2015 Summer (Reid Watson)</a></li>
	<li><a class="popup" href="http://web.stanford.edu/class/archive/cs/cs106b/cs106b.1156/" target="_blank">2015 Spring (Marty Stepp)</a></li>
	<li><a class="popup" href="http://web.stanford.edu/class/archive/cs/cs106b/cs106b.1154/" target="_blank">2015 Winter (Eric Roberts)</a></li>
	<li><a class="popup" href="http://web.stanford.edu/class/archive/cs/cs106b/cs106b.1152/" target="_blank">2014 Autumn (Marty Stepp)</a></li>
	<li><a class="popup" href="http://web.stanford.edu/class/archive/cs/cs106b/cs106b.1148/" target="_blank">2014 Summer (Marty Stepp)</a></li>
	<li><a class="popup" href="http://web.stanford.edu/class/archive/cs/cs106b/cs106b.1146/" target="_blank">2014 Spring (Cynthia Lee)</a></li>
	<li><a class="popup" href="http://web.stanford.edu/class/archive/cs/cs106b/cs106b.1144/" target="_blank">2014 Winter (Marty Stepp)</a></li>
	<li><a class="popup" href="http://web.stanford.edu/class/archive/cs/cs106b/cs106b.1142/" target="_blank">2013 Autumn (Marty Stepp)</a></li>
	<li><a class="popup" href="http://web.stanford.edu/class/archive/cs/cs106b/cs106b.1138/" target="_blank">2013 Summer (Aubrey Gress)</a></li>
	<li><a class="popup" href="http://web.stanford.edu/class/archive/cs/cs106b/cs106b.1136/" target="_blank">2013 Spring (Keith Schwarz)</a></li>
	<li><a class="popup" href="http://web.stanford.edu/class/archive/cs/cs106b/cs106b.1134/" target="_blank">2013 Winter (Eric Roberts)</a></li>
	<li><a class="popup" href="http://web.stanford.edu/class/archive/cs/cs106b/cs106b.1132/" target="_blank">2012 Autumn (Keith Schwarz)</a></li>
</ul>
			</div>
		</div>
		
		
				
		


	

		%include templates/parts/footer.html

	</div>

</body>
