<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						QT Creator
					</h1>
					

				</div>
				<hr/>
			</div>
		</div>

		<!--<p>
			<center>
				<img style="width:500px" src="{{pathToRoot}}img/handouts/whatsNext/next.png">	
			</center>
		</p>-->

		<div class="row">
			<div class="col-sm-12">
				<p>
					In order to program your assignments, you must download and install an editor named Qt Creator. On Windows, Qt Creator includes a C++ compiler; on Mac, you need to install Xcode to enable the compiler. You also need to install Java JDK on your machine, because it is needed by some of our libraries. All CS 106B students are expected to use Qt Creator for their assignments; other editors are not supported and are strongly discouraged.

Based on your operating system (Windows, Mac, or Linux) you'll need to follow different instructions. Please make sure to follow the instructions precisely and do not skip steps. We will also host a Qt Creator Workshop (date/time TBA) to address any individual problems with installation.

				</p>

				<ul>
					<li>
						<a href="{{pathToRoot}}/handouts/qt-creator-windows.html">Installation instructions for Windows</a>
					</li>
					<li>
						<a href="{{pathToRoot}}/handouts/qt-creator-mac.html">Installation instructions for Mac</a>
					</li>
					<li>
						<a href="{{pathToRoot}}/handouts/qt-creator-linux.html">Installation instructions for Linux</a>
					</li>
				</ul>
				
				<p>
					Once you have installed the necessary software, here are some additional useful instructions for using and debugging it.
				</p>
				
				<ul>
					<li>
						<a href="{{pathToRoot}}/handouts/qt-creator-usage.html">How to use Qt Creator</a>
					</li>
					<li>
						<a href="{{pathToRoot}}/handouts/qt-creator-troubleshooting.html">Troubleshooting common Qt Creator problems</a>
					</li>
				</ul>
			</div>
		</div>
		
		
				
		


	

		%include templates/parts/footer.html

	</div>

</body>
