<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand" href="{{pathToRoot}}">CS106B</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!--<li><a href="#">Lectures</a></li>-->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lectures <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}/lectures/1-Welcome/">1 Welcome</a></li>
            <li><a href="{{pathToRoot}}/lectures/2-Functions/">2 Functions</a></li>
            <li><a href="{{pathToRoot}}/lectures/3-Strings/">3 Strings</a></li>
            <li><a href="{{pathToRoot}}/lectures/4-Vectors_Grid/">4 Vectors and Grid</a></li>
            <li><a href="{{pathToRoot}}/lectures/5-Stacks_Queues/">5 Stacks and Queues</a></li>
            <li><a href="{{pathToRoot}}/lectures/6-Sets_Maps/">6 Sets and Maps </a></li>
            <li><a href="{{pathToRoot}}/lectures/7-IntroRecursion/">7 Recursive Thinking</a></li>
            <li><a href="{{pathToRoot}}/lectures/8-Fractals/">8 Fractals</a></li>
            <li><a href="{{pathToRoot}}/lectures/9-RecursiveTrees/">9 Recursive Trees</a></li>
            <li><a href="{{pathToRoot}}/lectures/10-RecursiveBacktracking/">10 Exhaustive Search and Recursive Backtracking</a></li>
            <li><a href="{{pathToRoot}}/lectures/11-BigO/">11 Big-O, Asymptotic Analysis, Computational Complexity</a></li>
            <li><a href="{{pathToRoot}}/lectures/12-Sorting/">12 Sorting</a></li>
            <li><a href="{{pathToRoot}}/lectures/13-Memoization/">13 Memoization</a></li>
            <li><a href="{{pathToRoot}}/lectures/14-Classes/">14 Classes</a></li>
            <li><a href="{{pathToRoot}}/lectures/15-Pointers/">15 Pointers</a></li>
            <li><a href="{{pathToRoot}}/lectures/16-DynamicAllocation/">16 DynamicAllocation</a></li>
            <li><a href="{{pathToRoot}}/lectures/17-ImplementingVector/">17 Implementing Vector</a></li>
            <li><a href="{{pathToRoot}}/lectures/18-LinkedLists/">18 Linked Lists</a></li>
            <li><a href="{{pathToRoot}}/lectures/19-Trees/">19 Trees</a></li>
            <li><a href="{{pathToRoot}}/lectures/20-BinaryHeaps/">20 Binary Heaps</a></li>
            <li><a href="{{pathToRoot}}/lectures/21-BinarySearchTrees/">21 Binary Search Trees</a></li>
            <li><a href="{{pathToRoot}}/lectures/22-Hashing/">22 Hashing</a></li>
            <li><a href="{{pathToRoot}}/lectures/23-Graphs/">23 Graphs</a></li>
            <li><a href="{{pathToRoot}}/lectures/24-GraphsII/">24 Graphs II</a></li>
            <li><a href="{{pathToRoot}}/lectures/25-BFS_DFS/">25 Breadth First Search and Depth First Search</a></li>
            <li><a href="{{pathToRoot}}/lectures/26-Dijkstra/">26 Dijkstra and A*</a></li>
            <li><a href="{{pathToRoot}}/lectures/27-MSTs/">27 Minimum Spanning Trees</a></li>
            <li><a href="{{pathToRoot}}/lectures/28-NeuralNetworks/">28 Neural Networks</a></li>
            <li><a href="{{pathToRoot}}/lectures/29-EsotericDataStructures/">28 Neural Networks</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Handouts <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}/handouts/1-GeneralInformation.pdf">1 - General Information</a></li>
            <li><a href="{{pathToRoot}}/handouts/2-CoursePlacement.pdf">2 - Course Placement</a></li>
            <li><a href="{{pathToRoot}}/handouts/3-NameHash.pdf">3 - Name Hash</a></li>
            <li><a href="{{pathToRoot}}/handouts/4-Fauxtoshop.pdf">4 - Fauxtoshop</a></li>
            <li><a href="{{pathToRoot}}/handouts/5-HonorCode.pdf">5 - Honor Code</a></li>
            <li><a href="{{pathToRoot}}/handouts/velociraptorSafety.html">6 - Velociraptor Safety</a></li>
            <li><a href="{{pathToRoot}}/handouts/bananagrams.html">7 - Bananagrams</a></li>
            <li><a href="{{pathToRoot}}/handouts/midterm.html">8 - Midterm</a></li>
            <li><a href="{{pathToRoot}}/handouts/search.html">9 - Search</a></li>
            <li><a href="{{pathToRoot}}/handouts/final.html">10 - Final</a></li>
            <!--<li><a href="{{pathToRoot}}/handouts/honor-code.pdf">Honor Code</a></li>-->
            <!--<li><a href="{{pathToRoot}}/handouts/velociraptorSafety.html">Grids and Raptor Safety</a></li>
            <li><a href="{{pathToRoot}}/handouts/bananagrams.html">Bananagrams</a></li>
            <li><a href="{{pathToRoot}}/handouts/duoslango.html">Duoslango</a></li>
            <li><a href="{{pathToRoot}}/handouts/midterm.html">Midterm Info</a></li>
            <li><a href="{{pathToRoot}}/handouts/search.html">Search</a></li>
            <li><a href="{{pathToRoot}}/handouts/final.html">Final Info</a></li>-->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assignments <span class="caret"></span></a>
          <ul class="dropdown-menu">
           <!--<li><a href="{{pathToRoot}}/assn/serafini.html">2 Serafini</a></li>
           <li><a href="{{pathToRoot}}/assn/pqueue.html">5 PQueue</a></li>
           <li><a href="{{pathToRoot}}/assn/huffman.html">6 Huffman</a></li>
           <li><a href="{{pathToRoot}}/assn/trailblazer.html">7 Trailblazer</a></li>
           <li role="separator" class="divider"></li>
           <li><a href="{{pathToRoot}}/assn/contest.html">Contest</a></li>-->
           
            <li><a href="{{pathToRoot}}/handouts/3-NameHash.pdf">0 - Name Hash</a></li>
            <li><a href="{{pathToRoot}}/handouts/assignments.html">1 - Fauxtoshop</a></li>
            <li><a href="{{pathToRoot}}assn/serafini.html">2 - Serafini</a></li>
            <li><a href="{{pathToRoot}}/assn/metaAcademy.html">3 - Meta Academy</a></li>
            <li><a href="{{pathToRoot}}/assn/boggle.html">4 - Boggle</a></li>
            <li><a href="{{pathToRoot}}/assn/pqueue.html">5 - PQueue</a></li>
            <li><a href="{{pathToRoot}}/assn/huffman.html">6 - Huffman Encoding</a></li>
            <li><a href="{{pathToRoot}}/assn/trailblazer.html">7 - Trailblazer</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sections <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}/sections/section01.pdf">Section 01</a></li>
            <li><a href="{{pathToRoot}}/sections/section01-solutions.pdf">Section 01 Soln</a></li>
            <li><a href="{{pathToRoot}}/sections/section02.pdf">Section 02</a></li>
            <li><a href="{{pathToRoot}}/sections/section02-solutions.pdf">Section 02 Soln</a></li>
            <li><a href="{{pathToRoot}}/sections/section03.pdf">Section 03</a></li>
            <li><a href="{{pathToRoot}}/sections/section03-solutions.pdf">Section 03 Soln</a></li>
            <li><a href="{{pathToRoot}}/sections/section04.pdf">Section 04</a></li>
            <li><a href="{{pathToRoot}}/sections/section04-solutions.pdf">Section 04 Soln</a></li>
            <li><a href="{{pathToRoot}}/sections/section05.pdf">Section 05</a></li>
            <li><a href="{{pathToRoot}}/sections/section05-solutions.pdf">Section 05 Soln</a></li>
            <li><a href="{{pathToRoot}}/sections/section06.pdf">Section 06</a></li>
            <li><a href="{{pathToRoot}}/sections/section06-solutions.pdf">Section 06 Soln</a></li>
            <li><a href="{{pathToRoot}}/sections/section07.pdf">Section 07</a></li>
            <li><a href="{{pathToRoot}}/sections/section07-solutions.pdf">Section 07 Soln</a></li>
            <li><a href="{{pathToRoot}}/sections/section08.pdf">Section 08</a></li>
            <li><a href="{{pathToRoot}}/sections/section08-solutions.pdf">Section 08 Soln</a></li>
            <!--<li><a href="{{pathToRoot}}/sections/section09.pdf">Optional 09</a></li>
            <li><a href="{{pathToRoot}}/sections/section09-solutions.pdf">Optional 09 Soln</a></li>-->
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}/handouts/overview.html">Course Overview</a></li>
            <li><a href="{{pathToRoot}}/handouts/help.html">Help Hours Calendar</a></li>
            <li><a href="{{pathToRoot}}/handouts/qt-creator.html">QT Creator</a></li>
            <li><a href="{{pathToRoot}}/handouts/styleguide.html">Style Guide</a></li>
            <!--<li><a href="{{pathToRoot}}/handouts/diff.html">Example Diff Tool</a></li>-->
           <!--<li><a href=""><i>None yet!</i></a></li>-->

          </ul>
        </li>
       
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{pathToRoot}}/handouts/overview.html"><span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Overview</a></li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
