<div>
				<div class="bs-example">
					<!-- Row -->
				    <div class="row">
				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img class = "thumbnailImg" src="img/peeps/chris.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					        <b>Chris</b>
					      </div>
					    </div>
				      </div>
				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/alisha.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					        <b>Alisha</b>
					      </div>
					    </div>
				      </div>
				      
				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/amy.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					        <b>Amy</b>
					      </div>
					    </div>
				      </div>

				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/brian.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					       <b>Brian</b>
					      </div>
					    </div>
				      </div>

				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/bryce.png" alt="Generic placeholder thumbnail">
					      <div class="caption">
					        <b>Bryce</b>
					      </div>
					    </div>
				      </div>

				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/cagatay.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					       <b>Çağatay</b>
					      </div>
					    </div>
				      </div>

				  </div>

				  <!-- Row -->
				  <div class="row">

				  	<div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/danielle.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					       <b>Danielle</b>
					      </div>
					    </div>
				      </div>

				  	  

				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/dilara.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					       <b>Dilara</b>
					      </div>
					    </div>
				      </div>

				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/goktu.png" alt="Generic placeholder thumbnail">
					      <div class="caption">
					        <b>Göktuğ</b>
					      </div>
					    </div>
				      </div>

				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/julia2.png" alt="Generic placeholder thumbnail">
					      <div class="caption">
					        <b>Julia</b>
					      </div>
					    </div>
				      </div>

				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/kerem.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					       <b>Kerem</b>
					      </div>
					    </div>
				      </div>

				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/kevin.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					        <b>Kevin</b>
					      </div>
					    </div>
				      </div>

				      


				  </div>
 				  <!-- Row -->
				  <div class="row">

				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/ozlem.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					        <b>Özlem</b>
					      </div>
					    </div>
				      </div>

				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/iyi.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					       <b>Pınar Ö</b>
					      </div>
					    </div>
				      </div>

				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/sahin.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					       <b>Şahin</b>
					      </div>
					    </div>
				      </div>

				       <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/jessy.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					        <b>Jessy</b>
					      </div>
					    </div>
				      </div>

				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/sean.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					        <b>Sean</b>
					      </div>
					    </div>
				      </div>

				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/pinar.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					        <b>Pınar Y</b>
					      </div>
					    </div>
				      </div>
				      
				     
				   </div>
				 

				  <!-- Row -->
				  <div class="row">
				      
				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/nick2.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					        <b>Nick</b>
					      </div>
					    </div>
				      </div>

				      <div class="col-xs-2">
				        <div class="thumbnail">
					      <img src="img/peeps/asena.jpg" alt="Generic placeholder thumbnail">
					      <div class="caption">
					        <b>Asena</b>
					      </div>
					    </div>
				      </div>
				   </div>
			</div>