<div class="table-responsive">
<table class="table table-bordered table-hover">
<thead>
<tr>
<th style="col-sm-3">Week</th>
<th style="col-sm-3">Monday</th>
<th style="col-sm-3">Wednesday</th>
<th style="col-sm-3">Friday</th>
</tr>
</thead>
<td class="calendarWeekCell">1</td>
<td class="calendarCell col-sm-3">
<div style="position:relative">
<div class="inOut">
<br><a href="{{pathToRoot}}/assn/NameHash.html">Out: Name Hash</a>
</div>
<p class="subtleHeading">Jan 9th</p>
1: 
Welcome to CS106X
<p>
	<i>Read: Chapter 1</i>
	</p>
<p>
<a href="{{pathToRoot}}lectures/1-Welcome/1-Welcome.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectures/1-Welcome/code/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>
<a href="{{pathToRoot}}handouts/1-GeneralInformation.pdf"><span class="sidebaricon glyphicon glyphicon-file" title="demo" aria-hidden="true"></span> General Information</a>



</p>

</div>
</td>
<td class="calendarCell col-sm-3">
<div style="position:relative">
<div class="inOut">
<br>Out: Fauxtoshop</a>

</div>
<p class="subtleHeading">Jan 11th</p>
2: 
Functions and Big O
<p>
	<i>Read: Chapter 2-3, and Chapter 10, Section 2</i>
	</p>
    
<a href="{{pathToRoot}}lectures/2-FunctionsBigO/2-FunctionsBigO.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectures/2-FunctionsBigO/code/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>
</div>
</td>
<td class="calendarCell col-sm-3">
<div style="position:relative">
<div class="inOut">
<br>In: Name Hash</a>
</div>
<p class="subtleHeading">Jan 13th</p>
3: 
Strings and Stanford Library Functions
<p>
	<i>Read: Chapters 3-4</i>
</p>
<p><!--
<a href="{{pathToRoot}}lectures/3-Strings/3-Strings.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectures/3-Strings/code/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>
<a href="{{pathToRoot}}handouts/5-HonorCode.pdf"><span class="sidebaricon glyphicon glyphicon-file" title="demo" aria-hidden="true"></span> Honor Code</a>-->
</p>
</div>
</td>
</tr>
<tr>
<td class="calendarWeekCell">2</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Jan 16th</p>
Martin Luther King Day:<br>
<b>No Class</b>
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Jan 18th</p>
4: 
Vectors and Grids
<p>
	<i>Read: Chapter 5.1 - 5.2</i>
</p>
<p> <!--
<a href="{{pathToRoot}}lectures/4-Vectors_Grid/4-VectorsGrids.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectures/4-Vectors_Grid/code/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>
<a href="{{pathToRoot}}handouts/velociraptorSafety.html"><span class="sidebaricon glyphicon glyphicon-file" title="demo" aria-hidden="true"></span>Velociraptor Safety</a>-->
</p>
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
In: Fauxtoshop
<br>Out: ADTs</a>
</div>
<p class="subtleHeading">Jan 20th</p>
5: 
Stacks and Queues
<p>
	<i>Read: Chapter 5.2 - 5.3</i>
</p>
<p><!--
<a href="{{pathToRoot}}lectures/5-Stacks_Queues/5-Stacks_Queues.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectures/5-Stacks_Queues/code/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>-->
</p>
</td>
</tr>
<tr>
<td class="calendarWeekCell">3</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Jan 23rd</p>
6: 
Maps and Sets
</div>
<p>
	<i>Read: Chapter 5.4 - 5.6</i>
</p>
<p><!--
<a href="{{pathToRoot}}lectures/6-Sets_Maps/6-MapsSets.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectures/6-Sets_Maps/code/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>-->
</p>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Jan 25th</p>
7: 
Introduction to Recursion
</div>
<p>
	<i>Read: Chapter 7</i>
</p>
<p><!--
<a href="{{pathToRoot}}lectures/7-IntroRecursion/7-Recursion.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectures/7-IntroRecursion/code/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>-->
</p>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
    In: ADTs (Saturday)<br>Out: Recursion Recursion</a>
</div>
<p class="subtleHeading">Jan 27th</p>
8: 
Fractals
</div>
<p>
	<i>Read: Chapter 7.5, 8.4</i>
</p>
<p><!--
<a href="{{pathToRoot}}lectures/8-Fractals/8-Fractals.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectures/8-Fractals/code/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>-->
</p>
</td>
</tr>
<tr>
<td class="calendarWeekCell">4</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Jan 30th</p>
9: 
Recursion on Trees
</div>
<p>
	<i>Read: Chapter 8.2 - 8.3; 9</i>
</p>
<p><!--
<a href="{{pathToRoot}}lectures/9-RecursiveTrees/9-RecursiveTrees.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectures/9-RecursiveTrees/code/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>-->
</p>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Feb 1st</p>
10: 
Exhaustive Search and Recursive Backtracking
</div>
<p>
	<i>Read: Chapter 9</i>
</p>
<p><!--
<a href="{{pathToRoot}}lectures/10-RecursiveBacktracking/10-RecursiveBacktracking.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectures/10-RecursiveBacktracking/code/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>-->
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Feb 3rd</p>
11: 
Sorting
</div>
<p>
    <i>Read: Section 7.5, 10.1, 10.2</i>
 </p><!--
<a href="{{pathToRoot}}lectures/12-Sorting/12-Sorting.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectures/12-Sorting/code/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>-->
</td>
</tr>
<tr>

<td class="calendarWeekCell">5</td>

<td class="calendarCell">
<div style="position:relative">
<div class="inOut"
    <br>In: Recursion Recursion<br>
    Out: Maze Solver, Boggle</a>
</div>
<p class="subtleHeading">Feb 6th</p>
12: 
Memoization and Structs, Overview of Tries
</div>
<p>
    <i>Read: Chapter 10</i>
 </p>
<p><!--
<a href="{{pathToRoot}}lectures/13-Memoization/13-Memoization.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectures/13-Memoization/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>-->
</p>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Feb 8th</p>
13: 
Classes
</div>
<p>
    <i>Read: Chapter 6</i>
 </p>
<p><!--
<a href="{{pathToRoot}}lectures/14-Classes/14-Classes.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectures/14-Classes/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>
-->
</p>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Feb 10th</p>
14: 
Pointers
</div>
<p>
    <i>Read: Chapter 12</i>
 </p>
<p><!--
<a href="{{pathToRoot}}lectures/15-Pointers/15-Pointers.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectures/15-Pointers/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>
-->
</p>
</td>
</tr>
<tr>
<td class="calendarWeekCell">6</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Feb 13th</p>
15: 
Dynamic Allocation
</div>
<p>
    <i>Read: Chapter 11</i>
 </p>
 <p><!--
 <a href="{{pathToRoot}}lectures/16-DynamicAllocation/16-DynamicAllocation.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
 <a href="{{pathToRoot}}lectures/16-DynamicAllocation/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>-->
 </p>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Feb 15th</p>
16: 
Implementing Vector
</div>
<p>
    <i>Read: Chapter 12.1 (advanced reading: 14.4)</i>
 </p>
 <p><!--
<a href="{{pathToRoot}}lectures/17-ImplementingVector/17-ImplementingVector.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectures/17-ImplementingVector/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>-->
</p>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
In: Maze Solver, Boggle<br>
Out: Patient Queue</a>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{pathToRoot}}assnFiles/pqueue/pqueue.pdf">(PDF)</a>
</div>
<p class="subtleHeading">Feb 17th</p>
17: 
Linked Lists
</div>
<p>
    <i>Read: Chapter 11</i>
 </p>
 <p><!--
 <a href="{{pathToRoot}}lectures/18-LinkedLists/LinkedLists.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
 <a href="{{pathToRoot}}lectures/18-LinkedLists/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>-->
 </p>
</td>
</tr>
<tr>
<td class="calendarWeekCell">7</td>
<td class="calendarCell">
<div style="position:relative">
<p class="subtleHeading">Feb 20th</p>
Presidents' Day:<br>
<b>No Class</b>
<br>Midterm: Feb 21 
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Feb 22nd</p>
18: 
Trees
</div>
<p>
    <i>Read: Chapter 16.1</i>
 </p>
 <p><!--
 <a href="{{pathToRoot}}lectures/19-Trees/19-Trees.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
 <a href="{{pathToRoot}}lectures/19-Trees/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>
 -->
 </p>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Feb 24th</p>
19: 
Binary Heap
</div>
 <p><!--
 <a href="{{pathToRoot}}lectures/20-BinaryHeaps/20-BinaryHeaps.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>-->
 </p>
<p>
    <i>Read: Assn 5 handout</i>
 </p>
</td>
</tr>
<tr>
<td class="calendarWeekCell">8</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Feb 27th</p>
20: 
Binary Search Trees
</div>
 <p><!--
 <a href="{{pathToRoot}}lectures/21-BinarySearchTrees/21-BinarySearchTrees.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
 <a href="{{pathToRoot}}lectures/21-BinarySearchTrees/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>-->
 </p>
<p>
    <i>Read: Chapter 16.1-16.3</i>
 </p>
</td>
<td class="calendarCell">
<div style="position:relative">
<p class="subtleHeading">Mar 1st</p>
21: 
Hashing
</div>
<p><!--
 <a href="{{pathToRoot}}lectures/22-Hashing/22-Hashing.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
 <a href="{{pathToRoot}}lectures/22-Hashing/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>
-->
 </p>
<p>
    <i>Read: Chapter 15</i>
 </p>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
    In: Patient Queue<br>
    Out: Huffman</a>
</div>
</div>
<p class="subtleHeading">Mar 3rd</p>
22: 
Graphs
</div>
<p><!--
 <a href="{{pathToRoot}}lectures/23-Graphs/23-Graphs.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
 <a href="{{pathToRoot}}lectures/23-Graphs/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>
-->
 </p>
    <i>Read: Chapter 18</i>
 </p>
</p>
</td>
</tr>
<tr>
<td class="calendarWeekCell">9</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Mar 6th</p>
23: 
Graphs II
</div>
<p><!--
 <a href="{{pathToRoot}}lectures/24-GraphsII/GraphsII.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
 <a href="{{pathToRoot}}lectures/24-GraphsII/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>
-->
 </p>
<p>
    <i>Read: Chapter 18</i>
 </p>
</td>
<td class="calendarCell">
<div style="position:relative">
<p class="subtleHeading">Mar 8th</p>
24: 
BFS and DFS
<p><!--
 <a href="{{pathToRoot}}lectures/25-BFS_DFS/25-BFS_DFS.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
 <a href="{{pathToRoot}}lectures/25-BFS_DFS/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>
-->
 </p>
</div>
<p>
    <i>Read: Chapter 18.6</i>
 </p>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
In: Huffman<br>
Out: Stanford 123</a>
</div>
<p class="subtleHeading">Mar 10th</p>
25: 
Dijkstra and A*
<p><!--
 <a href="{{pathToRoot}}lectures/26-Dijkstra/26-Dijkstra.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
-->
 </p>
</div>
<p>
    <i>Read: Chapter 18.6</i>
 </p>
</td>
</tr>
<tr>
<td class="calendarWeekCell">10</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Mar 13th</p>
26: 
Minimum Spanning Tree
</div>
<p><!--
 <a href="{{pathToRoot}}lectures/27-MSTs/27-MSTs.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
 <a href="{{pathToRoot}}lectures/27-MSTs/"><span class="sidebaricon glyphicon glyphicon-leaf" title="demo" aria-hidden="true"></span> Code</a><br/>
-->
 </p>
<p>
    <i>No reading</i>
 </p>
</td>

<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Mar 15th</p>
27: 
Esoteric Data Structures: Skip Lists and Bloom Filters
</div>
<p><!--
 <a href="{{pathToRoot}}lectures/29-EsotericDataStructures/EsotericDataStructures.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
-->
</p>
<p>
    <i>No reading</i>
 </p>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
In: Stanford 123
</div>
<p class="subtleHeading">Mar 17th</p>
28: 
Final Class
<br>Final: March 20th
</div>
<p><!--
 <a href="{{pathToRoot}}lectures/30-LastClass/30-LastClass.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
-->
<p>
    <i>No reading</i>
 </p>
</td>
</tr>
</table>
</div>
