<table class="table table-bordered table-hover">
<thead>
<tr>
<th>Week</th>
<th>Monday</th>
<th>Wednesday</th>
<th>Friday</th>
</tr>
</thead>
<td class="calendarWeekCell">1</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Sept 26th</p>
1: 
Welcome to CS106B
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
<br>Out: Fauxtoshop
</div>
<p class="subtleHeading">Sept 28th</p>
2: 
Functions
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Sept 30th</p>
3: 
Strings and Structs
</div>
</td>
</tr>
<tr>
<td class="calendarWeekCell">2</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Oct 3rd</p>
4: 
Vectors and Grids
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Oct 5th</p>
5: 
Stacks and Queues
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
In: Fauxtoshop<br>Out: ADTs
</div>
<p class="subtleHeading">Oct 7th</p>
6: 
Maps and Sets
</div>
</td>
</tr>
<tr>
<td class="calendarWeekCell">3</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Oct 10th</p>
7: 
Introduction to Recursion
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Oct 12th</p>
8: 
Fractals
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
In: ADTs (Saturday)<br>Out: Meta Academy
</div>
<p class="subtleHeading">Oct 14th</p>
9: 
Recursion on Trees
</div>
</td>
</tr>
<tr>
<td class="calendarWeekCell">4</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Oct 17th</p>
10: 
Recursive Backtracking
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Oct 19th</p>
11: 
Big O
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Oct 21st</p>
12: 
Searching and Sorting
</div>
</td>
</tr>
<tr>
<td class="calendarWeekCell">5</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
In: Meta Academy<br>Out: Boggle
</div>
<p class="subtleHeading">Oct 24th</p>
13: 
Memoization
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Oct 26th</p>
14: 
Classes
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Oct 28th</p>
15: 
Pointers
</div>
</td>
</tr>
<tr>
<td class="calendarWeekCell">6</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Oct 31st</p>
16: 
Dynamic Allocation
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
<br>Midterm: Nov 3rd
</div>
<p class="subtleHeading">Nov 2nd</p>
17: 
Implementing Vector
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Nov 4th</p>
18: 
Linked Lists
</div>
</td>
</tr>
<tr>
<td class="calendarWeekCell">7</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
In: Boggle<br>Out: PQueue
</div>
<p class="subtleHeading">Nov 7th</p>
19: 
Trees
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Nov 9th</p>
20: 
Binary Heap
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Nov 11th</p>
21: 
Trees II
</div>
</td>
</tr>
<tr>
<td class="calendarWeekCell">8</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Nov 14th</p>
22: 
Binary Search Trees
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
In: PQueue<br>Out: Huffman
</div>
<p class="subtleHeading">Nov 16th</p>
23: 
Hashing
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Nov 18th</p>
24: 
Graphs
</div>
</td>
</tr>
<tr>
<td class="calendarWeekCell">9</td>
<td class="calendarCell">
Nov 21st
<br>
Holiday: 
Thanksgiving
</td>
<td class="calendarCell">
Nov 23rd
<br>
Holiday: 
Thanksgiving
</td>
<td class="calendarCell">
Nov 25th
<br>
Holiday: 
Thanksgiving
</td>
</tr>
<tr>
<td class="calendarWeekCell">10</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Nov 28th</p>
25: 
Search
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
In: Huffman<br>Out: Trailblazer
</div>
<p class="subtleHeading">Nov 30th</p>
26: 
Fast Search
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Dec 2nd</p>
27: 
Minimum Spanning Tree
</div>
</td>
</tr>
<tr>
<td class="calendarWeekCell">11</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Dec 5th</p>
28: 
Web Applications
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Dec 7th</p>
29: 
C++ beyond CS106B
</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
In: Trailblazer<br>Final: Dec 12th
</div>
<p class="subtleHeading">Dec 9th</p>
30: 
Final Class
</div>
</td>
</tr>
<tr>
<td class="calendarWeekCell">12</td>
</tr>
</table>